* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.calculator {
  background-color: #999999;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 10px;
  width: 300px;
}

input {
  grid-column: 1 / -1;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 24px;
  text-align: right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}

.buttons button {
  padding: 4px;
  border: 0;
  border-radius: 5px;
  background-color: #dddcdc;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #ccc;
}